<h1>Welcome to MessageMe - a complete Chat App</h1>
<h2>Log in to continue</h2>
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%# generate rails form %>
      <%= form_with scope: :session, url: login_path do |field| %>
        <div class="field">
          <%= field.label :username %>
          <div class="ui left icon input">
            <%= field.text_field :username, placeholder: "Username" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= field.label :password %>
          <div class="ui left icon input">
            <%= field.password_field :password, placeholder: "Password" %>
            <i class="user icon"></i>
          </div>
        </div>
        <%= field.submit "Login", class:"ui blue submit button" %>
      <% end %>
    </div>
    <div class="middle aligned column">
      <div class="ui big button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
